/* .App {
  text-align: center;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cloud-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px -1px 4px 1px rgb(0 0 0 / 20%);
    padding: 0 2% 0 2%;
    
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
}

/* json rendrer style */

.__json-pretty__ {
  padding: 1rem;
  margin: 1rem;
  /* border: 1px solid lightgray; */
  border-radius: 3px;
  background: #fafafa !important;
  box-shadow: 5px 5px 22px 4px #f1eeee;
}

.__json-pretty__ .__json-key__ {
  color: #313131 !important;
  font-size: 14px;
}

.__json-pretty__ .__json-string__ {
 font-size: 14px;
}

.nav-link {
 
  display: flex;
  border: none;
  border-radius: 0;
}

.nav-link li {
  list-style: none;
  margin-left: 1rem;
  /* padding: 1rem; */
}
a:-webkit-any-link {
  text-decoration: none !important;
}

.nav-link li .active {
  font-weight: 600;
  /* border-top: 3px solid green; */
  /* border-left: 3px solid; */
  /* color: green; */
  border-bottom: 4px solid orange;
  padding: 1.3rem;
}

h4 {
  font-weight: 400;
}

.tile-shadow {
  box-shadow: 2px -1px 4px 1px rgb(0 0 0 / 3%);
  margin: 10px;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2% 0 2%;
}

.card-header h3 {
  text-align: center;
    flex-grow: 2;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 10px;
}